Source: starlingx-update
Section: admin
Priority: optional
Maintainer: chuck <zulcss@gmail.com>
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
#Vcs-Browser: https://salsa.debian.org/debian/starlingx-update
#Vcs-Git: https://salsa.debian.org/debian/starlingx-update.git

Package: starlingx-update
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 ansible,
 sl,
Description: starlingx update
 installs sl - train as a service
